.parent_reg_body {
  background: linear-gradient(90deg, #ffffff 40%, #00ffee 100%);
  height: 100vh;
}

.parent_container_registration {
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 50%;
  text-align: center;
  height: 470px;
  box-shadow: 2px 2px 2px black;
}

.Parent_inner_container_registration {
  width: 100%;
  height: 390px;
  color: black;
  text-align: start;
  padding: 30px;
  margin-left: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px black;
  border: solid 4px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.center_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.set_up_profile_inner_container {
  width: 100%;
  height: 260px;
  color: black;
  text-align: start;
  padding: 30px;
  margin-left: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px black;
  border: solid 4px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.set_up_profile_container {
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 50%;
  text-align: center;
  height: 340px;
  box-shadow: 2px 2px 2px black;
}
