.update_container {
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 1px;
  width: 97%;
  height: auto;
  border-radius: 20px;
}

.move_btn_right {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  position: relative;
}

.select_elements {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  margin-left: 7px;
  height: 600px;
}

.Dashboard_main_body {
  width: 100%;
  height: 490px;
  overflow-y: scroll;
}

.Dashboard_mid_section {
  display: flex;
  flex-direction: column;
  width: 82%;
}
