.right-panel {
  width: 250px;
  height: 100vh;
  position: absolute;
  right: 0px;
  background: linear-gradient(to bottom, #6970ff, #6a5cff);
  border-radius: 20px 0 0 20px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  box-shadow: inset -4px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.panel-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.date-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  max-height: inherit;
  padding-right: 5px;
}

/* hide scrollbar */
.date-list::-webkit-scrollbar {
  display: none;
}

.date-card {
  background: rgba(255, 255, 255, 0.15);
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 10px;
  transition: all 0.3s ease;
  position: relative;
}

/* shorten right border */
.date-card::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}

.date-text {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.event-box {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 5px 8px;
  text-align: center;
  font-size: 0.8rem;
}

.event-empty {
  background: rgba(255, 255, 255, 0.1);
  height: 25px;
  border-radius: 8px;
}

/* Highlight today's date */
.date-card.active {
  border-right-color: rgb(85, 0, 113);
  background: rgb(132, 0, 176);
}
