.Button {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 8px;
  width: auto;
  padding: 10px 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.411);
  border: none;
}

.Button:hover {
  background-color: #aa00ff;
  color: white;
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.9);
}

.Button2 {
  background-color: white;
  color: black;
}
